<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load staticfiles %}
  {% block body_block %}
  <div class="jumbotron">
  {% if registered %}
        <h1>Thank you for registring!</h1>
  {% else %}
  <h1>Register here:</h1>
  <h3>Fill the form:</h3>
  <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{profile_form.as_p }}
        <input type="submit" class="btn btn-primary" value="Register">
  </form>
  {% endif %}
  </div>

    {% endblock %}
